*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.quote-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("/images/library.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.quote-container {
  position: relative;
  width: 65%;
}
.quote-container .quote-title {
  text-align: center;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  width: 65%;
  margin: 0 auto 10px auto;
}
.quote-container .quote-body {
  background-color: white;
  padding: 2.25rem;
  border-radius: 5px;
  text-align: center;
}
.quote-container .quote-body-text {
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.quote-container .quote-body-attribute {
  display: block;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: brown;
  font-size: 1.5rem;
}
.quote-container .quote-body input[type=button] {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  padding: 10px;
  margin: 35px 0 0 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #777;
  transition: all 0.5s ease-in-out;
}
.quote-container .quote-body input[type=button]:active {
  box-shadow: none;
}